* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Null-Style */
/*Mixin*/
/* variables */
/* MEDIA__VARIABLES */
html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  background: #1A1A1A;
}

._countainer {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  padding: 0px 15px;
  box-sizing: content-box;
  margin: 0 auto;
}

.header {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background: linear-gradient(180deg, #333 0%, #1A1A1A 100%);
}

.header__body {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.header__logo {
  flex: 1 1 auto;
}
.header__logo img {
  width: 80px;
  height: 80px;
}

.header__list {
  display: flex;
  gap: 40px;
}

.header__item a {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.header__block-contact {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.header__number {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 10px;
  border-bottom: 1px solid #F00;
}

.header__messenger-column {
  display: flex;
  gap: 20px;
}
.header__messenger-column img {
  width: 40px;
  height: 40px;
}

.main {
  flex: 1 1 auto;
}

.section-main {
  background: url("/img/image 20.svg") bottom right no-repeat, url("/img/F812 SUPER.svg") 56% 43.3% no-repeat, url("/img/Ferrari-logo-back.svg") right no-repeat;
}

/* SECTION-MAIN */
.section-main__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  margin: 117px 0px 56px 0px;
}

.section-main__block-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.section-main__title {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 52px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.section-main__text {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 25px;
}

.section-main__button {
  background: #F00;
  padding: 20px 66px;
  border-radius: 10px;
}
.section-main__button a {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.button-down {
  display: none;
}

.section-main__group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transform: translateX(5px);
  margin-bottom: 107px;
}

.section-main__column {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #FFB72B;
  border-radius: 35px 10px 10px 35px;
  width: 290px;
}
.section-main__column img {
  width: 60px;
  height: 60px;
  transform: translateX(-5px);
}
.section-main__column p {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.section-main__mouse-down {
  display: flex;
  align-items: center;
  gap: 20px;
}

.section-main__down-text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 140%;
}

/* SECTION-BLANK */
.section-blank__body-blank {
  background: url("/img/section-blank-image.svg") right no-repeat;
  border: 1px solid #F00;
  border-radius: 10px;
  padding: 40px;
  margin: 100px 0px;
}

.section-blank__title {
  color: #FFF;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 40px;
}
.section-blank__title span {
  color: #FFF;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 140%;
  font-weight: 500;
  color: #FFB72B;
}

.section-blank__column {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.section-blank__input {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  background-color: white;
  border: 1px solid rgba(51, 51, 51, 0.3);
  border-radius: 10px;
  padding: 0px 20px;
  width: 413px;
  height: 62px;
}
.section-blank__input input {
  width: 370px;
  height: 62px;
  background: none;
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  font-weight: 400;
  line-height: 140%;
  color: #1A1A1A;
}
.section-blank__input:nth-child(2) input {
  width: 287px;
}

.section-blank__flag img {
  width: 40px;
  height: 30px;
}

.section-blank__button {
  background: #F00;
  padding: 20px 66px;
  border-radius: 10px;
}
.section-blank__button a {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.section-blank__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 140%;
  font-size: 24px;
  font-weight: 600;
  font-size: 16px;
}

/* SECTION-SERVICES */
.section-services {
  background: url("/img/Ferrari-Back.svg") left 67% no-repeat;
}

.section-services__body {
  display: flex;
  flex-direction: column;
  gap: 75px;
  margin-bottom: 100px;
}

.section-services__block-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-services__title {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 52px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.section-services__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 140%;
  font-size: 24px;
  font-weight: 600;
}

.section-services__block-column {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 50px;
}

.section-services__column {
  max-width: 335px;
  width: 100%;
  height: 100%;
}
.section-services__column img {
  width: 335px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}
.section-services__column p {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 140%;
  font-size: 24px;
  font-weight: 600;
}

/* SECTION-ABOUT */
.section-about__body {
  display: flex;
  flex-direction: column;
  gap: 75px;
  margin-bottom: 100px;
}

.section-about__title {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 52px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.section-about__block-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.section-about__item {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  max-width: 453px;
  width: 100%;
  height: 100%;
}

.section-about__icon {
  background-color: #F00;
  border-radius: 50%;
  margin-bottom: 20px;
  padding: 20px;
}
.section-about__icon img {
  width: 60px;
  height: 60px;
}

.section-about__title-column {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 140%;
  font-size: 24px;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 10px;
}

.section-about__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 140%;
}

/* SECTION-WORK */
.section-work__body {
  margin-bottom: 100px;
}

.section-work__title {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 52px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.section-work__block-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 75px 0px 50px 0px;
}

.section-work__item {
  max-width: 453px;
  width: 100%;
  height: 100%;
}

.section-work__img {
  position: relative;
  border-radius: 10px;
  margin-bottom: 20px;
}
.section-work__img img {
  width: 453px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-work__text-name {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 140%;
  font-size: 24px;
  font-weight: 600;
  width: 453px;
  height: 74px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 0px 0px 10px 10px;
  background: rgba(26, 26, 26, 0.75);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 20px;
  color: #F00;
}

.section-work__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 140%;
}

.section-work__column-arrow {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.section-work__arrow {
  border: 1px solid #F00;
  border-radius: 50%;
  padding: 14px;
}
.section-work__arrow img {
  width: 32px;
  height: 32px;
}
.section-work__arrow:nth-child(2) {
  transform: rotate(180deg);
}

/* SECTION-INFO */
.section-info__body {
  overflow: hidden;
  margin-bottom: 100px;
}

.section-info__body-modell {
  margin-bottom: 100px;
}

.body-modell__title {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 52px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.swiper .swiper-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 75px 0px 50px 0px;
  min-width: 0;
}

.swiper .swiper-slide {
  display: flex;
  align-items: center;
  min-width: 335px;
  width: 100%;
  height: 100%;
  border: 1px solid #F00;
  border-radius: 20px;
}
.swiper .swiper-slide img {
  width: 130px;
  height: 62px;
}

.body-modell__block-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px 20px 0px;
}

.body-modell__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 140%;
  font-size: 24px;
  font-weight: 600;
  color: #F00;
}

.body-modell__data {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  line-height: 140%;
}

.body-modell__column-arrow {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  border: 1px solid #F00;
  border-radius: 50%;
  padding: 14px;
  right: 140px !important;
  left: auto;
}
.swiper-button-prev img, .swiper-rtl .swiper-button-next img {
  width: 32px;
  height: 32px;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  border: 1px solid #F00;
  border-radius: 50%;
  padding: 14px;
  transform: rotate(180deg);
  left: 140px !important;
  right: auto;
}
.swiper-button-next img, .swiper-rtl .swiper-button-prev img {
  width: 32px;
  height: 32px;
}

.section-info__body-contact {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.body-contact__title {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 52px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.body-contact__block-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 75px 0px 40px 0px;
}

.body-contact__item {
  display: flex;
  gap: 15px;
  max-width: 553px;
  width: 100%;
  height: 100%;
}

.body-contact__block-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.body-contact__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 140%;
  font-weight: 700;
}

.body-contact__sub-text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 140%;
}

.body-contact__messenger {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.body-contact__title-messenger {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 140%;
  font-size: 24px;
  font-weight: 600;
  font-weight: 800;
  text-transform: uppercase;
}

.body-contact__column-messenger {
  display: flex;
  gap: 20px;
}
.body-contact__column-messenger img {
  width: 40px;
  height: 40px;
}

.body-contact__block-blank {
  width: 690px;
  border-radius: 20px;
  border: 2px solid #F00;
  background: #1A1A1A;
  box-shadow: 1px 1px 1px 1px #F00;
  padding: 50px 90px 32px 90px;
  text-align: center;
}

.body-contact__title-blank {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 52px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  font-size: 42px;
  margin-bottom: 20px;
}

.body-contact__text-blank {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 140%;
  font-weight: 600;
  line-height: normal;
}

.body-contact__block-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px 0px 20px 0px;
}

.body-contact__input {
  display: flex;
  align-items: center;
  gap: 12px;
  background: white;
  padding: 0px 20px;
  border-radius: 10px;
  width: 100%;
  height: 62px;
}
.body-contact__input input {
  width: 100%;
  height: 62px;
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  font-weight: 400;
  line-height: 140%;
  color: #1A1A1A;
}

.body-contact__select {
  width: 100%;
  height: 62px;
  padding: 19px 20px;
  border-radius: 10px;
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  font-weight: 400;
  line-height: 140%;
  color: #1A1A1A;
}

.body-contact__flag img {
  width: 40px;
  height: 30px;
}

.body-contact__button {
  background: #F00;
  padding: 20px 66px;
  border-radius: 10px;
}
.body-contact__button a {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.body-contact__text-down {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 140%;
}

/* SECTION-MAP */
.section-map {
  background: url("/img/Mapsicle Map.svg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 550px;
}

.section-map__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 550px;
  position: relative;
}

.section-map__block-map {
  position: absolute;
  top: 29%;
  left: 47.7%;
  width: 168px;
  height: 168px;
}

.section-map__img {
  text-align: center;
  margin-bottom: 25px;
}

.section-map__button {
  background: #F00;
  padding: 20px 66px;
  border-radius: 10px;
  display: none;
  padding: 12px 20px;
}
.section-map__button a {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}
.section-map__button a {
  font-size: 12px;
}

.footer {
  background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #333 100%);
}

.footer__body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 2.5rem 0px;
}

.footer__block-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo img {
  width: 185px;
  height: 40px;
}

.footer__list {
  display: flex;
  gap: 2.5rem;
}

.footer__item a {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.footer__button-up {
  background: none;
}
.footer__button-up img {
  width: 24px;
  height: 24px;
  background: #F00;
  border-radius: 50%;
  padding: 4px;
}
.footer__button-up a {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  line-height: 140%;
}

.footer__block-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 140%;
  font-size: 16px;
}

.section-blank__menu-lang {
  position: absolute;
  width: 40px;
  top: 15px;
  left: 20px;
}

.menu-lang a {
  text-decoration: none;
}

.menu-lang li {
  position: relative;
  list-style: none;
}

.menu-lang__list {
  display: flex;
}

.menu-lang__link {
  margin-left: 12px;
  color: #fff;
}

.sub-menu-lang__list {
  display: none;
  min-width: 130px;
  position: absolute;
  left: 0;
  top: 25px;
  padding: 15px;
}

.sub-menu-lang__list > li {
  display: flex;
  gap: 12px;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
}

.sub-menu-lang__link {
  color: #6e6e6e;
  display: inline-block;
}

.arrow {
  display: none;
  position: absolute;
  right: -23px;
  top: 4px;
  width: 0;
  height: 0;
  border-top: 7px solid #fff;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.arrow.active {
  transform: rotate(-180deg);
}

.sub-menu-lang__arrow.arrow {
  right: 10px;
  border-left: 10px solid #000;
  border-right: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

body.mouse .menu-lang__list > li:hover .sub-menu-lang__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: rgba(59, 59, 59, 0.6509803922);
  border-radius: 4px;
  box-shadow: 8px 4px 5px 5px rgba(6, 6, 6, 0.568627451);
}

body.touch .sub-menu-lang__list.open {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: rgba(59, 59, 59, 0.6509803922);
  border-radius: 4px;
  box-shadow: 8px 4px 5px 5px rgba(6, 6, 6, 0.568627451);
}

body.touch .arrow {
  display: block;
}

.login-popap {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 1s;
  transform: rotate3d(1, 0, 0, 140deg);
}

.login-popap:target {
  opacity: 1;
  visibility: visible;
  transform: rotate3d(1, 0, 0, 0deg);
}

.login-popap__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.login-popap__body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-popap__content {
  text-align: center;
  border-radius: 20px;
  border: 2px solid #F00;
  background: #1A1A1A url("/img/popap-image.svg") center no-repeat;
  width: 690px;
  padding: 50px 98px 50px 82px;
  z-index: 2;
  transition: all 1s;
}

.login-popap__close {
  position: absolute;
  top: 100px;
  right: 100px;
}
.login-popap__close img {
  width: 50px;
  height: 50px;
}

.login-popap__column-title {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-bottom: 2.5rem;
}

.login-popap__title {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 52px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  font-size: 42px;
}

.login-popap__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 140%;
  font-weight: 600;
  line-height: normal;
}

.login-popap__block-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.block-input__column-input {
  display: flex;
  align-items: center;
  gap: 12px;
  background: white;
  padding: 0px 20px;
  border-radius: 10px;
  width: 100%;
  height: 62px;
}
.block-input__column-input input {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  font-weight: 400;
  line-height: 140%;
  color: #1A1A1A;
}

.block-input__flag img {
  width: 40px;
  height: 30px;
}

.block-input__button {
  background: #F00;
  padding: 20px 66px;
  border-radius: 10px;
  justify-content: center;
  margin-top: 4px;
}
.block-input__button a {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.block-input__text-profile {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 140%;
}

/* MEDIA__COUNTAINER */
@media (max-width: 875px) {
  ._countainer {
    padding: 0px 10px;
  }
}
/* MEDIA__HEADER */
@media (max-width: 1074px) {
  .header__body {
    margin-top: 30px;
  }
  .header__logo img {
    width: 60px;
    height: 60px;
  }
  .header__list {
    gap: 30px;
  }
  .header__block-contact {
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
  }
  .header__number {
    padding-bottom: 5px;
  }
}
@media (max-width: 875px) {
  .header__body {
    margin-top: 20px;
  }
  .header__logo {
    flex: 0 0 0;
  }
  .header__logo img {
    width: 30px;
    height: 30px;
  }
  .header__list {
    display: none;
  }
  .header__block-contact {
    display: none;
  }
}
/* MEDIA__SECTION-MAIN */
@media (max-width: 1390px) {
  .section-main {
    background: url("/img/section-main-img.svg") 87% 88% no-repeat, url("/img/F812 SUPER-Media.svg") 77.5% 54.5% no-repeat, url("/img/section-main-img2.svg") 100% 69% no-repeat;
  }
}
@media (max-width: 1074px) {
  .section-main {
    background: url("/img/section-main-img.svg") 272.5px 82% no-repeat, url("/img/F812 SUPER-Media.svg") 69.5% 50% no-repeat, url("/img/section-main-img2.svg") 93.5% 59% no-repeat;
  }
  .section-main__body {
    margin: 100px 0px 39px 0px;
  }
  .section-main__title {
    font-size: 32px;
  }
  .section-main__text {
    font-size: 24px;
    margin-bottom: 40px;
  }
  .section-main__group {
    margin-bottom: 138px;
  }
  .section-main__down-text {
    font-size: 16px;
  }
}
@media (max-width: 875px) {
  .section-main {
    background: url("/img/section-main-img-phone.svg") left 38% no-repeat, url("/img/F812 SUPER-Phone.svg") 50% 28.8% no-repeat, url("/img/Ferrari-back-phone.svg") right 36.5% no-repeat;
  }
  .section-main__body {
    gap: 25px;
    margin: 30px 0px 9px 0px;
  }
  .section-main__block-text {
    gap: 8px;
    margin-bottom: 163px;
  }
  .section-main__group {
    gap: 15px;
    margin-bottom: 0px;
  }
  .section-main__button {
    display: none;
  }
}
@media (max-width: 630px) {
  .section-main__body {
    align-items: center;
  }
  .section-main__title {
    font-size: 21px;
  }
  .section-main__text {
    font-size: 15px;
    margin-bottom: 0px;
  }
  .section-main__column img {
    width: 35px;
    height: 35px;
  }
  .section-main__column p {
    font-size: 12px;
  }
  .button-down {
    display: block;
    padding: 15px 62px;
  }
  .button-down a {
    font-size: 15px;
  }
  .section-main__mouse-down svg {
    width: 16.8px;
    height: 24px;
  }
  .section-main__down-text {
    font-size: 12px;
  }
}
/* MEDIA__SECTION-BLANK */
@media (max-width: 1242px) {
  .section-blank__body-blank {
    margin: 60px 0px;
    padding: 30px;
  }
  .section-blank__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .section-blank__title span {
    font-size: 24px;
  }
  .section-blank__column {
    gap: 10px;
    margin-bottom: 30px;
  }
  .section-blank__input {
    width: 280px;
  }
  .section-blank__input input {
    width: 238px;
  }
  .section-blank__input:nth-child(2) {
    width: 320px;
  }
  .section-blank__input:nth-child(2) input {
    width: 215px;
  }
}
@media (max-width: 975px) {
  .section-blank__body-blank {
    background-size: contain;
  }
}
@media (max-width: 630px) {
  .section-blank__body-blank {
    text-align: center;
    background: linear-gradient(176deg, #1A1A1A 4.25%, rgba(0, 0, 0, 0) 95.29%), url("/img/section-blank-image.svg") lightgray 50%/cover no-repeat;
    padding: 25px 10px;
  }
  .section-blank__title {
    font-size: 16px;
  }
  .section-blank__title span {
    font-size: 16px;
  }
  .section-blank__column {
    flex-direction: column;
    gap: 10px;
  }
  .section-blank__input {
    width: 100%;
  }
  .section-blank__input input {
    width: 100%;
    font-size: 14px;
  }
  .section-blank__input img {
    width: 14px;
    height: 14px;
  }
  .section-blank__input:nth-child(2) {
    width: 100%;
  }
  .section-blank__input:nth-child(2) input {
    width: 100%;
    font-size: 14px;
  }
  .section-blank__flag img {
    width: 28px;
    height: 21px;
  }
  .section-blank__text {
    font-size: 12px;
  }
}
/* MEDIA__SECTION-SERVICES */
@media (max-width: 1074px) {
  .section-services__body {
    margin-bottom: 60px;
  }
  .section-services__title {
    font-size: 32px;
  }
  .section-services__text {
    font-size: 21px;
  }
  .section-services__block-column {
    row-gap: 40px;
  }
  .section-services__column {
    max-width: 295px;
  }
  .section-services__column img {
    width: 295px;
    height: 238px;
  }
  .section-services__column p {
    font-size: 21px;
  }
}
@media (max-width: 954px) {
  .section-services__block-column {
    justify-content: center;
  }
}
@media (max-width: 630px) {
  .section-services__body {
    gap: 40px;
  }
  .section-services__title {
    font-size: 21px;
  }
  .section-services__text {
    font-size: 15px;
  }
  .section-services__block-column {
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 20px;
  }
  .section-services__column {
    max-width: 140px;
  }
  .section-services__column img {
    width: 140px;
    height: 100px;
  }
  .section-services__column p {
    font-size: 12px;
  }
}
/* MEDIA__SECTION-ABOUT */
@media (max-width: 1074px) {
  .section-about__body {
    gap: 55px;
    margin-bottom: 60px;
  }
  .section-about__title {
    font-size: 32px;
  }
  .section-about__item {
    max-width: 295px;
  }
  .section-about__icon {
    padding: 15px;
  }
  .section-about__icon img {
    width: 45px;
    height: 45px;
  }
  .section-about__title-column {
    font-size: 21px;
  }
  .section-about__text-column {
    font-size: 16px;
  }
}
@media (max-width: 630px) {
  .section-about__body {
    gap: 40px;
  }
  .sectino-about__block-column {
    gap: 25px;
  }
  .section-about__item {
    gap: 8px;
    max-width: 250px;
  }
  .section-about__title {
    font-size: 21px;
  }
  .section-about__icon {
    padding: 8px;
    margin-bottom: 0px;
  }
  .section-about__icon img {
    width: 25px;
    height: 25px;
  }
  .section-about__title-column {
    font-size: 15px;
    margin-bottom: 0px;
  }
  .section-about__text {
    font-size: 12px;
  }
}
/* MEDIA__SECTION-WORK */
@media (max-width: 1074px) {
  .section-work__body {
    margin-bottom: 70px;
  }
  .section-work__title {
    font-size: 32px;
  }
  .section-work__block-column {
    margin: 40px 0px 30px 0px;
  }
  .section-work__item {
    max-width: 295px;
  }
  .section-work__img img {
    width: 295px;
    height: 221px;
    border-radius: 10px;
  }
  .section-work__text-name {
    width: 295px;
    height: 45px;
    padding: 10px;
    font-size: 18px;
  }
  .section-work__text {
    font-size: 16px;
  }
}
@media (max-width: 630px) {
  .section-work__title {
    font-size: 21px;
  }
  .section-work__img img {
    width: 300px;
    height: 200px;
  }
}
/* MEDIA__SECTION-INFO */
@media (max-width: 1074px) {
  .section-info__body {
    margin-bottom: 60px;
  }
  .section-info__body-modell {
    margin-bottom: 60px;
  }
  /* BODY-MODELL */
  .body-modell__title {
    font-size: 32px;
  }
  .body-modell__block-column {
    margin: 40px 0px 30px 0px;
  }
  .body-modell__item img {
    width: 115px;
    height: 55px;
  }
  .body-modell__text {
    font-size: 21px;
  }
  .body-modell__data {
    font-size: 16px;
  }
  /* BODY-CONTACT */
  .body-contact__title {
    font-size: 32px;
  }
  .body-contact__block-column {
    gap: 20px;
    margin: 40px 0px 40px 0px;
  }
  .body-contact__item {
    gap: 20px;
  }
  .body-contact__item svg {
    width: 30px;
    height: 30px;
  }
  .body-contact__text {
    font-size: 21px;
  }
  .body-contact__sub-text {
    font-size: 16px;
  }
  .body-contact__title-messenger {
    font-size: 21px;
  }
  /* BODY-CONTACT__INPUT */
  .body-contact__block-blank {
    width: 452px;
    padding: 40px 20px;
  }
  .body-contact__title-blank {
    font-size: 32px;
  }
  .body-contact__text-blank {
    font-size: 32px;
  }
  .body-contact__text-down {
    font-size: 16px;
  }
}
@media (max-width: 905px) {
  .section-info__body-contact {
    flex-direction: column;
  }
}
@media (max-width: 630px) {
  .section-info__title {
    font-size: 21px;
  }
  .body-contact__item {
    gap: 8px;
  }
  .body-contact__item svg {
    width: 24px;
    height: 24px;
  }
  .body-contact__block-text {
    gap: 8px;
  }
  .body-contact__text {
    font-size: 12px;
  }
  .body-contact__sub-text {
    font-size: 12px;
  }
  .body-contact__title-messenger {
    font-size: 12px;
  }
  .body-contact__column-messenger img {
    width: 30px;
    height: 30px;
  }
  .body-contact__block-blank {
    padding: 25px 10px;
  }
  .body-contact__title-blank {
    font-size: 21px;
  }
  .body-contact__text-blank {
    font-size: 16px;
  }
  .body-contact__input img {
    width: 14px;
    height: 14px;
  }
  .body-contact__flag img {
    width: 28px;
    height: 21px;
  }
  .body-contact__button a {
    font-size: 15px;
  }
  .body-contact__text-down {
    font-size: 12px;
  }
}
@media (max-width: 1074px) {
  .login-popap__content {
    width: 452px;
    padding: 30px 20px;
  }
  .login-popap__close {
    top: 50px;
    right: 50px;
  }
  .login-popap__title {
    font-size: 32px;
  }
  .block-input__text-profile {
    font-size: 16px;
  }
}
#menuToggle {
  display: none;
  position: absolute;
  top: 26px;
  right: 15px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -7px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 27px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #F00;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(46deg) translate(10px, 0px);
  background: #F00;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, 10px);
}

#menuToggle input:checked ~ ul {
  text-align: center;
  transform: none;
  opacity: 1;
}

.burger {
  position: absolute;
  width: 100vw;
  height: 568px;
  margin-top: -39px;
  right: -15px;
  background: linear-gradient(180deg, #333 0%, #1A1A1A 100%);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.burger__logo {
  position: absolute;
  top: 20px;
  left: 10px;
}
.burger__logo img {
  width: 30px;
  height: 30px;
}

/* BURGER__LIST */
.burger__list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 82px;
  margin-bottom: 2.5rem;
}

.burger__item a {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  font-size: 15px;
}

/* BURGER__BLOCK-CONTACT */
.burger__block-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.burger__number {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  font-weight: 700;
  border-bottom: 1px solid #F00;
  padding-bottom: 4px;
}

.burger-messenger-column {
  display: flex;
  gap: 25px;
}
.burger-messenger-column img {
  width: 30px;
  height: 30px;
}

/* BURGER-MEDIA */
@media screen and (max-width: 875px) {
  #menuToggle {
    display: block;
  }
}