* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Null-Style */
/*Mixin*/
/* variables */
html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  background: #1A1A1A;
}

._countainer {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  padding: 0px 15px;
  box-sizing: content-box;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.616);
}

.header {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  background: linear-gradient(180deg, #333 0%, #1A1A1A 100%);
}

.heade__body {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
}

.header__logo {
  flex: 1 1 auto;
}
.header__logo img {
  width: 80px;
  height: 80px;
}

.header__list {
  display: flex;
  gap: 2.5rem;
  padding: 2.5rem 0px;
}

.header__item a {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.header__block-contact {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5rem;
}

.header__nummber {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  padding: 10px 0px;
  border-bottom: 1px solid #F00;
}

.header__messenger-column {
  display: flex;
  gap: 20px;
}
.header__messenger-column img {
  width: 40px;
  height: 40px;
}

.main {
  flex: 1 1 auto;
}

.section-main {
  background: url("/img/image 20.svg") bottom right no-repeat, url("/img/Ferrari-logo-back.svg") right no-repeat;
}

/* SECTION-MAIN */
.section-main__body {
  margin: 7.31rem 0px 3.5rem;
}

.section-main__title {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 52px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

.section-main__text {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 3.13rem;
}

.section-main__button {
  background: #F00;
  padding: 20px 66px;
  border-radius: 10px;
  margin-bottom: 4.69rem;
}
.section-main__button a {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.section-main__group {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  transform: translateX(5px);
  margin-bottom: 7.75rem;
}

.section-main__column {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #FFB72B;
  border-radius: 35px 10px 10px 35px;
  width: 290px;
}
.section-main__column img {
  width: 60px;
  height: 60px;
  transform: translateX(-5px);
}
.section-main__column p {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.section-main__mouse-down {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.section-main__down-text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 140%;
}

/* SECTION-BLANK */
.section-blank__body-blank {
  background: url("/img/section-blank-image.svg") right no-repeat;
  border: 1px solid #F00;
  border-radius: 10px;
  padding: 2.5rem;
  margin: 6.25rem 0px;
}

.section-blank__title {
  color: #FFF;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 2.5rem;
}
.section-blank__title span {
  color: #FFF;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 140%;
  color: #FFB72B;
}

.section-blank__column {
  display: flex;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}

.section-blank__input {
  position: relative;
  border: 1px solid rgba(51, 51, 51, 0.3);
}
.section-blank__input input {
  width: 413px;
  padding: 19px 20px;
  background-color: white;
  border-radius: 10px;
}
.section-blank__input input:-moz-placeholder-shown {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  font-weight: 400;
  line-height: 140%;
}
.section-blank__input input:placeholder-shown {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  font-weight: 400;
  line-height: 140%;
}
.section-blank__input input:nth-child(2) {
  padding: 19px 20px 19px 105px;
}

.section-blank__button {
  background: #F00;
  padding: 20px 66px;
  border-radius: 10px;
}
.section-blank__button a {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
}

.section-blank__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 140%;
  font-weight: 600;
  font-size: 16px;
}

/* SECTION-SERVICES */
.section-services {
  background: url("");
}

.section-services__body {
  display: flex;
  flex-direction: column;
  gap: 4.7rem;
}

.section-services__block-text {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.section-services__title {
  color: #FFF;
  font-family: "Montserrat";
  font-size: 52px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.section-services__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 140%;
  font-weight: 600;
}

.section-services__block-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 50px;
}

.section-services__column {
  max-width: 335px;
  width: 100%;
  height: 100%;
}
.section-services__column img {
  width: 335px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.section-services__column-text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 140%;
  font-weight: 600;
}

.section-blank__menu-lang {
  position: absolute;
  width: 40px;
  top: 15px;
  left: 20px;
}

.menu-lang a {
  text-decoration: none;
}

.menu-lang li {
  position: relative;
  list-style: none;
}

.menu-lang__list {
  display: flex;
}

.menu-lang__link {
  margin-left: 12px;
  color: #fff;
}

.sub-menu-lang__list {
  display: none;
  min-width: 130px;
  position: absolute;
  left: 0;
  top: 25px;
  padding: 15px;
}

.sub-menu-lang__list > li {
  display: flex;
  gap: 12px;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
}

.sub-menu-lang__link {
  color: #6e6e6e;
  display: inline-block;
}

.arrow {
  display: none;
  position: absolute;
  right: -23px;
  top: 4px;
  width: 0;
  height: 0;
  border-top: 7px solid #fff;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.arrow.active {
  transform: rotate(-180deg);
}

.sub-menu-lang__arrow.arrow {
  right: 10px;
  border-left: 10px solid #000;
  border-right: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

body.mouse .menu-lang__list > li:hover .sub-menu-lang__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: rgba(59, 59, 59, 0.6509803922);
  border-radius: 4px;
  box-shadow: 8px 4px 5px 5px rgba(6, 6, 6, 0.568627451);
}

body.touch .sub-menu-lang__list.open {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: rgba(59, 59, 59, 0.6509803922);
  border-radius: 4px;
  box-shadow: 8px 4px 5px 5px rgba(6, 6, 6, 0.568627451);
}

body.touch .arrow {
  display: block;
}