@mixin media-all {

	/////////////////// MEDIA__HEADER ///////////////////
	/* MEDIA__HEADER */
	@media (max-width: $tablet) {
		.header__logo {
			width: 60px;
			height: 60px;
		}
		
		.header__block-contact {
			flex-direction: column;
		}
	}

	@media (max-width: $phone) {
		.header__logo {
			flex: 0 0 0;
			img {
				width: 30px;
				height: 30px;
			}
		}

		.header__list {
			display: none;
		}
	
		.header__block-contact {
			display: none;
		}
	}

	/* MEDIA__SECTION-MAIN */
	@media (max-width: 1390px) {
		.section-main {
			background: url("/img/section-main-img.svg") bottom right no-repeat,
						url("/img/F812\ SUPER-Media.svg") 56% 39% no-repeat,
						url("/img/section-main-img2.svg") right no-repeat;
		}
	}

	@media (max-width: $tablet) {
		.section-main {
			background: url("/img/section-main-img.svg") 289px 66.5% no-repeat,
						url("/img/F812\ SUPER-Media.svg") 56% 39% no-repeat,
						url("/img/section-main-img2.svg") right no-repeat;
		}

		.section-main__title {
			font-size: 32px;
		}

		.section-main__text {
			font-size: 24px;
		}

		.section-main__down-text {
			font-size: 16px;
		}
	}

	/////////////////// MEDIA__MAIN ///////////////////

	/* MEDIA__SECTION-BLANK */

	/* MEDIA__SECTION-SERVICES */

	/* MEDIA__SECTION-ABOUT */

	/* MEDIA__SECTION-WORK */
	@media (max-width: 1430px) {
		.section-work__block-column {
			justify-content: space-around;
		}

		.section-work__column {
			padding: 0px 15px;
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}
	}
}
