@mixin h1 {
	color: #FFF;
	font-family: "Montserrat";
	font-size: 52px;
	font-weight: 800;
	line-height: normal;
	text-transform: uppercase;
}

@mixin h2 {
	@include h1;
	font-size: 42px;
}

@mixin sub-text-36px {
	color: #FFF;
	font-family: "Montserrat";
	font-size: 36px;
	font-weight: 600;
	line-height: normal;
}

@mixin text-32px{
	color: #FFF;
	font-family: Montserrat;
	font-size: 32px;
	font-weight: 600;
	line-height: 140%;
}

@mixin text-21px {
	color: #FFF;
	font-family: Montserrat;
	font-size: 21px;
	font-weight: 500;
	line-height: 140%;
}

@mixin text-24px {
	@include text-21px;
	font-size: 24px;
	font-weight: 600;
}

@mixin text-28px {
	@include text-24px;
	font-size: 28px;
}

@mixin text-18px {
	color: #FFF;
	font-family: "Montserrat";
	font-size: 18px;
	font-weight: 600;
	line-height: normal;
}

@mixin text-16px {
	@include text-24px;
	font-size: 16px;
}

@mixin number {
	color: #FFF;
	font-family: "Montserrat";
	font-size: 18px;
	font-weight: 700;
	line-height: normal;
}

@mixin button {
	background: $red;
	padding: 20px 66px;
	border-radius: 10px;

	a {
		@include text-18px;
	}
}

@mixin menu-lang {
    .section-blank__menu-lang {
		position: absolute;
		width: 40px;
		top: 15px;
		left: 20px;
    }

    .menu-lang a{
        text-decoration: none;
    }

    .menu-lang li{
        position: relative;
        list-style: none;
    }

    .menu-lang__list {
        display: flex;
    }

    .menu-lang__link {
        margin-left: 12px;
        color: #fff;
    }

    .sub-menu-lang__list {
        display: none;
        min-width: 130px;
        position: absolute;
        left: 0;
        top: 25px;
        padding: 15px;
    }

    .sub-menu-lang__list>li{
        display: flex;
        gap: 12px;
        background-color: white;
        border-radius: 4px;
        padding: 10px;
    }

    .sub-menu-lang__link {
        color: #6e6e6e;
        display: inline-block;
    }

    .arrow {
        display: none;
        position: absolute;
        right: -23px;
        top: 4px;
        width: 0;
        height: 0;
        border-top: 7px solid #fff;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
    }

    .arrow.active{
        transform: rotate(-180deg);
    }

    .sub-menu-lang__arrow.arrow {
        right: 10px;
        border-left: 10px solid #000;
        border-right: none;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .menu-lang__arrow {
    }

    body.mouse .menu-lang__list>li:hover .sub-menu-lang__list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        background: #3b3b3ba6;
        border-radius: 4px;
        box-shadow: 8px 4px 5px 5px #06060691;
    }

    body.touch .sub-menu-lang__list.open{
        display: flex;
        flex-direction: column;
        gap: 15px;
        background: #3b3b3ba6;
        border-radius: 4px;
        box-shadow: 8px 4px 5px 5px #06060691;
    }

    body.touch .arrow {
        display: block;
    }
}

@mixin login-popap {

    .login-popap {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        top: 0;
        left: 0;
        z-index: 50;
        opacity: 0;
        visibility: hidden;
        overflow-y: auto;
        overflow-x: hidden;
    }
     
    .login-popap:target {
        opacity: 1;
        visibility: visible;
    }

    .login-popap__area {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .login-popap__body {
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 98px 50px 82px;
    }

    .login-popap__content {
		text-align: center;
		border-radius: 20px;
		border: 2px solid $red;
		background: $black;
		background: $black url("/img/popap-image.svg") center no-repeat;
		background-size: cover;
        width: 690px;
        padding: 50px 98px 50px 82px;
		z-index: 2;
    }

    .login-popap__close {
        position: absolute;
        top: 100px;
        right: 100px;
        img {
            width: 50px;
            height: 50px;
        }
    }

    .login-popap__column-title {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        margin-bottom: 2.5rem;
    }

    .login-popap__title {
        @include h2;
    }

    .login-popap__text {
        @include text-21px;
		font-weight: 600;
		line-height: normal;
    }

    .login-popap__block-input {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .block-input__column-input {
		display: flex;
		align-items: center;
		gap: 12px;
		background: white;
		padding: 0px 20px;
		border-radius: 10px;
		width: 506px;
		height: 62px;
	
		input {
			@include text-18px;
			font-weight: 400;
			line-height: 140%;
			color: #1A1A1A;
		}
    }

    .block-input__button {
        @include button;
        justify-content: center;
        margin-top: 4px;
    }

    .block-input__text-profile {
		@include text-21px;
    }
}