@mixin media-all {
	/////////////////// MEDIA__HEADER ///////////////////

	/* MEDIA__SECTION-MAIN */

	/////////////////// MEDIA__MAIN ///////////////////

	/* MEDIA__SECTION-BLANK */

	/* MEDIA__SECTION-SERVICES */

	/* MEDIA__SECTION-ABOUT */

	/* MEDIA__SECTION-WORK */
	@media (max-width: 1430px) {
		.section-work__block-column {
			justify-content: space-around;
		}

		.section-work__colum {
			padding: 0px 15px;
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}
	}
}
