@import "Ferrari-Null";
/* Null-Style */
@import "Ferrari-Mixin";
/*Mixin*/

$red: #F00;
/* variables */

html,
body {
	font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
	background: #1A1A1A;
}

._countainer {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    padding: 0px 15px;
    box-sizing: content-box;
    margin: 0 auto;
	border: 1px solid rgba(255, 255, 255, 0.616);
}

/////////////// HEADER ///////////////
.header {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
	background: linear-gradient(180deg, #333 0%, #1A1A1A 100%);
}

.heade__body {
	display: flex;
	align-items: center;
	margin-top: 2.5rem;
}
.header__logo {
	flex: 1 1 auto;
	img {
		width: 80px;
		height: 80px;
	}
}

.header__list {
	display: flex;
	gap: 2.5rem;
	padding: 2.5rem 0px;
}

.header__item {
	a {
		@include text-18px;
	}
}

.header__block-contact {
	flex: 1 1 auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 2.5rem;
}

.header__nummber {
	@include number;
	padding: 10px 0px;
	border-bottom: 1px solid $red;
}

.header__messenger-column {
	display: flex;
	gap: 20px;

	img {
		width: 40px;
		height: 40px;
	}
}

/////////////// MAIN ///////////////
.main {
	flex: 1 1 auto;
}

.section-main {
	background: url("/img/image 20.svg") bottom right no-repeat, url("/img/Ferrari-logo-back.svg") right no-repeat;
}

/* SECTION-MAIN */
.section-main__body {
	margin: 7.31rem 0px 3.5rem;
}

.section-main__title {
	@include h1;
	margin-bottom: 1.25rem;
}

.section-main__text {
	@include sub-text-36px;
	margin-bottom: 3.13rem;
}

.section-main__button {
	@include button;
	margin-bottom: 4.69rem;
}

.section-main__group {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	transform: translateX(5px);
	margin-bottom: 7.75rem;
}

.section-main__column {
	display: flex;
	align-items: center;
	gap: 5px;
	border: 1px solid #FFB72B;
	border-radius: 35px 10px 10px 35px;
	width: 290px;

	img {
		width: 60px;
		height: 60px;
		transform: translateX(-5px)
	}

	p {
		@include text-18px;
	}
}

.section-main__mouse-down {
	display: flex;
	align-items: center;
	gap: 1.25rem;
}

.section-main__down-text {
	@include text-21px;
}

/* SECTION-BLANK */
.section-blank {
}

.section-blank__body-blank {
	background: url("/img/section-blank-image.svg") right no-repeat;
	border: 1px solid $red;
	border-radius: 10px;
	padding: 2.5rem;
	margin: 6.25rem 0px;
}

.section-blank__title {
	@include text-32px;
	margin-bottom: 2.5rem;
	span {
		@include text-32px;
		color: #FFB72B;
	}
}

.section-blank__column {
	display: flex;
	gap: 1.25rem;
	margin-bottom: 1.25rem;
}

.section-blank__input {
	position: relative;
	border: 1px solid rgba(51, 51, 51, 0.30);

	input {
		width: 413px;
		padding: 19px 20px;
		background-color: white;
		border-radius: 10px;
		&:placeholder-shown {
			@include text-18px;
			font-weight: 400;
			line-height: 140%;
		}

		&:nth-child(2) {
			padding: 19px 20px 19px 105px;
		}
	}
}

.section-blank__button {
	@include button;
}

.section-blank__text {
	@include text-16px;
}

/* SECTION-SERVICES */
.section-services {
	background: url("/img/Ferrari-Back.svg") left 67% no-repeat;
}

.section-services__body {
	display: flex;
	flex-direction: column;
	gap: 4.70rem;
	margin-bottom: 6.25rem;
}

.section-services__block-text {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.section-services__title {
	@include h1;
}

.section-services__text {
	@include text-24px;
}

.section-services__block-column {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: 20px;
	row-gap: 50px;
}

.section-services__column {
	max-width: 335px;
	width: 100%;
	height: 100%;
	img {
		width: 335px;
		height: 250px;
		object-fit: cover;
		border-radius: 10px;
		margin-bottom: 20px; 
	}
}

.section-services__column-text {
	@include text-24px;
}

/* SECTION-ABOUT */
.section-about__body {
	display: flex;
	flex-direction: column;
	gap: 75px;
	margin-bottom: 6.25rem;
}

.section-about__title {
	@include h1;
}

.section-about__block-column {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.section-about__column {
}

.section-about__item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 453px;
	width: 100%;
	height: 100%;
}

.section-about__icon {
	background-color: $red;
	border-radius: 50%;
	margin-bottom: 20px;
	padding: 20px;
}

.section-about__title-column {
	@include text-28px;
	margin-bottom: 10px;
}

.section-about__text {
	@include text-21px;
}

/* SECTION-WORK */
.section-work__body {
	margin-bottom: 6.25rem; 
}

.section-work__title {
	@include h1;
}

.section-work__block-column {
	display: flex;
	justify-content: space-between;
	margin: 75px 0px 50px 0px;
}

.section-work__column {
}

.section-work__item {
	max-width: 453px;
	width: 100%;
	height: 100%;
}

.section-work__img {
	position: relative;
	border-radius: 10px;
	margin-bottom: 20px;
	img {
		width: 453px;
		height: 300px;
		object-fit: cover;
	}
}

.section-work__text-name {
	@include text-24px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	border-radius: 0px 0px 10px 10px;
	background: rgba(26, 26, 26, 0.75);
	backdrop-filter: blur(5px);
	color: $red;
}

.section-work__text {
	@include text-21px;
}

.section-work__column-arrow {
	display: flex;
	gap: 30px;
}

.section-work__arrow {
	border: 1px solid $red;
	border-radius: 50%;
	padding: 14px;
	img {
		width: 32px;
		height: 32px;
	}
}


@include menu-lang;